@use "../../css-values.scss";

footer {
    background-color: var(--md-sys-elevation-2);
    height: 64px;

    div.container {
        @include css-values.ResponsiveLayout;
        height: inherit;
        display: flex;
        align-items: center;
        padding-inline: 2rem;
    }
}
