$mobileSnap: 768px;
$pageWidth: 1200px;
$navbarHeight: 64px;

@mixin ResponsiveLayout {
    width: $pageWidth;
    margin-inline: auto;
    box-sizing: border-box;

    @media screen and (max-width: $pageWidth) {
        width: 100%;
    }
}

@mixin Clickable {
    user-select: none;
    cursor: pointer;
}

@mixin Button {
    all: unset;
    display: flex;
    @include Clickable;
    color: var(--md-sys-color-on-primary);
    height: 40px;
    gap: 8px;
    padding-inline: 24px;
    border-radius: 40px;
    transition: 0.3s;
    align-items: center;
    outline-offset: 4px;
    outline: 2px solid transparent;

    p {
        margin: 0 !important;
    }

    svg {
        width: 16px;
        height: 16px;

        path {
            fill: var(--md-sys-color-on-primary);
        }
    }

    &:hover {
        opacity: 0.8;
    }

    &.icon {
        padding-left: 18px;
    }

    &.text {
        color: var(--md-sys-color-primary);
        outline-offset: 0px;

        &:hover {
            background-color: var(--md-sys-elevation-5);
        }

        svg {
            path {
                fill: var(--md-sys-color-primary);
            }
        }
    }

    &.tonal {
        background-color: var(--md-sys-elevation-2);
        color: var(--md-sys-color-primary);
        outline-offset: 0px;

        &:hover {
            background-color: var(--md-sys-elevation-5);
        }

        svg {
            path {
                fill: var(--md-sys-color-primary);
            }
        }
    }

    &:focus-visible {
        outline: 2px solid var(--md-sys-color-primary);
    }
}
