body {
    padding: 0;
    margin: 0;
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 500px;
    background-attachment: fixed;
}

#root {
    background-image: url("background-top.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 400px;
    background-attachment: fixed;
}

@media only screen and (max-width: 800px) {
    body {
        background-size: 50%;
    }
}

@media only screen and (max-width: 800px) {
    #root {
        background-size: 50%;
    }
}
